src/data/**                    merge=ours
src/assets/images/**           merge=ours
src/layouts/PostDetails.astro  merge=ours
src/config.ts                  merge=ours
src/constants.ts               merge=ours
public/assets/**               merge=ours
public/astropaper-og.jpg       merge=ours
public/favicon.svg             merge=ours
.github/workflows/**           merge=ours
